@model IEnumerable<RifasSofts.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_CONTACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_ADDRESS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_CONTACT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_ADDRESS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ADMIN_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ADMIN_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ADMIN_ID })
        </td>
    </tr>
}

</table>
